.m-research-container {
  height: 460px;

  padding: 20px;
  background: $Tblackless;
  border: 1px solid $Tgrey;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translateX(-50%);
  transform: translateY(-50%);
  text-align: center;

  .m-research {
    position: relative;

    span {
      margin: 0px 0px 15px 95%;
      display: block;
      cursor: pointer;
    }

    .friendSuggest {
      max-height: 300px;
      overflow: auto;
    }
    .friendSuggest::-webkit-scrollbar {
      width: 10px;
    }
    .friendSuggest::-webkit-scrollbar-track {
      background: #252b2f;
      border-radius: 5px;
      margin: 20px 0px;
    }
    .friendSuggest::-webkit-scrollbar-thumb {
      background: #3e484f;
      border-radius: 5px;
    }
  }

  input {
    border: 1px solid $TgreyText;
    background: none;
    width: 260px;
    height: 40px;
    padding: 0px 20px;
    border-radius: 20px;
    color: $TgreyText;
    margin-top: 40px;
  }
  input:focus {
    outline: 1px solid $Tblue;
    border: 1px solid $Tblue;
  }

  li {
    display: flex;
    cursor: pointer;

    .author-pic {
      margin: 0px 0px 0px 10px;
    }
    h4 {
      margin: 0px 10px;
    }
  }
}
