.tweet-box {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  width: 540px;
  height: 250px;
  background: $Tblack;
  padding: 5px 10px;
  z-index: 5500;
  border: 1px solid $Tgrey;
  p {
    margin: 10px 0px 20px 5px;
    cursor: pointer;
    color: $Twhite;
  }
  .pic-textarea {
    display: flex;
    justify-content: space-between;
  }
  textarea {
    font-size: 1.1rem;
    margin: 0px 0px 20px 10px;
    height: 130px;
    width: 100%;
    color: $Twhite;
    background: none;
    border: none;
    border-bottom: 1px solid $Tgrey;
    outline: none;
    resize: none;
  }

  button {
    border: none;
    background: $Tblue;
    padding: 7px 15px;
    border-radius: 50px;
    font-size: 1.05rem;
    color: $Twhite;
    margin-left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
  }
}
