@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
}
body {
  background: $Tblack;
  color: $Twhite;
  font-family: 'Roboto';
}

ul {
  list-style: none;
}

p {
  color: $TgreyText;
}

.label-input {
  border: 1px solid $Tgrey;
  border-radius: 5px;
  padding: 5px 5px;
  margin-bottom: 30px;
}

.blue-white-button {
  margin: auto;
  background: $Tblue;
  color: $Twhite;
  border: none;
  border-radius: 25px;
  font-weight: 300;
  cursor: pointer;
  padding: 5px 10px;
}

#text {
  display: none;
}
